body,
html {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Martel Sans";
}

main {
  padding: 10px;
}

footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}

input {
  width: 100%;
  font-size: large;
  text-align: center;
}

div.random {
  text-align: right;
}

button {
  width: 40em;
  height: 6em;
}

svg {
  width: 100%;
  height: 20rem;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 2em;
  }

  g.node {
    circle {
      &.backg {
        fill: lightgray;
      }
      &.overlay {
        fill: transparent;
      }
    }
  }
}
